## Equal Weights Strategy

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import math

## Load the Stocks List

In [2]:
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

## Load the stocks last Close Price & Market Cap

In [3]:
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)
    
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')
        stocks_data.append({
            "Ticker" : ticker, 
            "Market Cap" : market_cap,
            "Latest Price" : latest_price,
        })
        
    stocks_df = pd.DataFrame(stocks_data)
        
    return stocks_df
        
    

tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)
df

[*********************100%***********************]  50 of 50 completed

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  18672401776640   1366.199951
1          TCS.NS  10568727527424   2910.399902
2     HDFCBANK.NS  14828077842432    965.299988
3         INFY.NS   6002796658688   1441.000000
4    ICICIBANK.NS   9895594164224   1373.400024
5   HINDUNILVR.NS   5977173655552   2530.800049
6         SBIN.NS   8003406790656    867.099976
7   BAJFINANCE.NS   6119824031744    984.950012
8   BHARTIARTL.NS  11419128954880   1866.199951
9          ITC.NS   5125923930112    405.600006
10   KOTAKBANK.NS   4123544256512   2071.399902
11    ADANIENT.NS   2977071366144   2541.699951
12          LT.NS   5142440050688   3668.300049
13     HCLTECH.NS   3795577470976   1389.900024
14  ASIANPAINT.NS   2239587680256   2336.600098
15    AXISBANK.NS   3669349105664   1160.000000
16   SUNPHARMA.NS   3931310129152   1637.500000
17       WIPRO.NS   2522358743040    240.860001
18  ULTRACEMCO.NS   3575353966592  12124.000000
19    HDFCLIFE.NS   1642418798592    761.700012
20        ONGC.NS   3057385209856    243.020004
21        NTPC.NS   3291533541376    339.549988
22   POWERGRID.NS   2613469773824    281.000000
23  TATAMOTORS.NS   2629880512512    714.000000
24  INDUSINDBK.NS    577684832256    741.500000
25  ADANIGREEN.NS   1758231265280   1056.000000
26       TITAN.NS   3006551031808   3387.000000
27    DIVISLAB.NS   1521134993408   5729.000000
28       TECHM.NS   1264339779584   1420.099976
29      MARUTI.NS   5078832381952  15899.000000
30   COALINDIA.NS   2407489863680    389.700012
31        BPCL.NS   1470753406976    338.950012
32    JSWSTEEL.NS   2805667725312   1142.400024
33     DRREDDY.NS   1052887810048   1246.599976
34  BAJAJFINSV.NS   3197282287616   2003.699951
35  ADANIPORTS.NS   3077877268480   1416.300049
36       CIPLA.NS   1233177411584   1514.699951
37   BRITANNIA.NS   1431721082880   5944.000000
38     HAVELLS.NS    933380489216   1487.400024
39    SHREECEM.NS   1051234402304  29135.000000
40      GRASIM.NS   1889023819776   2784.300049
41   TATASTEEL.NS   2087662649344    167.479996
42  HEROMOTOCO.NS   1093110857728   5435.000000
43         M&M.NS   4218025672704   3464.899902
44   EICHERMOT.NS   1928174239744   7030.000000
45         IOC.NS   2053339873280    149.029999
46     SBICARD.NS    833870036992    865.950012
47  PIDILITIND.NS   1496446795776   1470.099976
48       DMART.NS   2900057128960   4459.700195
49     HDFCAMC.NS   1189001035776   5555.000000

In [4]:
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  18672401776640   1366.199951
1          TCS.NS  10568727527424   2910.399902
2     HDFCBANK.NS  14828077842432    965.299988
3         INFY.NS   6002796658688   1441.000000
4    ICICIBANK.NS   9895594164224   1373.400024
5   HINDUNILVR.NS   5977173655552   2530.800049
6         SBIN.NS   8003406790656    867.099976
7   BAJFINANCE.NS   6119824031744    984.950012
8   BHARTIARTL.NS  11419128954880   1866.199951
9          ITC.NS   5125923930112    405.600006
10   KOTAKBANK.NS   4123544256512   2071.399902
11    ADANIENT.NS   2977071366144   2541.699951
12          LT.NS   5142440050688   3668.300049
13     HCLTECH.NS   3795577470976   1389.900024
14  ASIANPAINT.NS   2239587680256   2336.600098
15    AXISBANK.NS   3669349105664   1160.000000
16   SUNPHARMA.NS   3931310129152   1637.500000
17       WIPRO.NS   2522358743040    240.860001
18  ULTRACEMCO.NS   3575353966592  12124.000000
19    HDFCLIFE.NS   1642418798592    761.700012
20        ONGC.NS   3057385209856    243.020004
21        NTPC.NS   3291533541376    339.549988
22   POWERGRID.NS   2613469773824    281.000000
23  TATAMOTORS.NS   2629880512512    714.000000
24  INDUSINDBK.NS    577684832256    741.500000
25  ADANIGREEN.NS   1758231265280   1056.000000
26       TITAN.NS   3006551031808   3387.000000
27    DIVISLAB.NS   1521134993408   5729.000000
28       TECHM.NS   1264339779584   1420.099976
29      MARUTI.NS   5078832381952  15899.000000
30   COALINDIA.NS   2407489863680    389.700012
31        BPCL.NS   1470753406976    338.950012
32    JSWSTEEL.NS   2805667725312   1142.400024
33     DRREDDY.NS   1052887810048   1246.599976
34  BAJAJFINSV.NS   3197282287616   2003.699951
35  ADANIPORTS.NS   3077877268480   1416.300049
36       CIPLA.NS   1233177411584   1514.699951
37   BRITANNIA.NS   1431721082880   5944.000000
38     HAVELLS.NS    933380489216   1487.400024
39    SHREECEM.NS   1051234402304  29135.000000
40      GRASIM.NS   1889023819776   2784.300049
41   TATASTEEL.NS   2087662649344    167.479996
42  HEROMOTOCO.NS   1093110857728   5435.000000
43         M&M.NS   4218025672704   3464.899902
44   EICHERMOT.NS   1928174239744   7030.000000
45         IOC.NS   2053339873280    149.029999
46     SBICARD.NS    833870036992    865.950012
47  PIDILITIND.NS   1496446795776   1470.099976
48       DMART.NS   2900057128960   4459.700195
49     HDFCAMC.NS   1189001035776   5555.000000

## Sort the values

In [5]:
df = df.sort_values(by = "Market Cap", ascending = False)
df.head()

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  18672401776640   1366.199951
2    HDFCBANK.NS  14828077842432    965.299988
8  BHARTIARTL.NS  11419128954880   1866.199951
1         TCS.NS  10568727527424   2910.399902
4   ICICIBANK.NS   9895594164224   1373.400024

## Taking Top 10 Stocks as per the market cap

In [17]:
df = df.head(10)
df.reset_index(inplace=True, drop = True)
df

          Ticker      Market Cap  Latest Price  Number of Shares to buy
0    RELIANCE.NS  18672401776640   1366.199951                       36
1    HDFCBANK.NS  14828077842432    965.299988                       51
2  BHARTIARTL.NS  11419128954880   1866.199951                       26
3         TCS.NS  10568727527424   2910.399902                       17
4   ICICIBANK.NS   9895594164224   1373.400024                       36
5        SBIN.NS   8003406790656    867.099976                       57
6  BAJFINANCE.NS   6119824031744    984.950012                       50
7        INFY.NS   6002796658688   1441.000000                       34
8  HINDUNILVR.NS   5977173655552   2530.800049                       19
9          LT.NS   5142440050688   3668.300049                       13

In [21]:
df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(
    position_size / price
))

portfolio_size = int(input("Enter the amount you want to invest: "))
position_size =  portfolio_size / len(df.index)
position_size
df

Enter the amount you want to invest:  998072

          Ticker      Market Cap  Latest Price  Number of Shares to buy
0    RELIANCE.NS  18672401776640   1366.199951                       73
1    HDFCBANK.NS  14828077842432    965.299988                      103
2  BHARTIARTL.NS  11419128954880   1866.199951                       53
3         TCS.NS  10568727527424   2910.399902                       34
4   ICICIBANK.NS   9895594164224   1373.400024                       72
5        SBIN.NS   8003406790656    867.099976                      115
6  BAJFINANCE.NS   6119824031744    984.950012                      101
7        INFY.NS   6002796658688   1441.000000                       69
8  HINDUNILVR.NS   5977173655552   2530.800049                       39
9          LT.NS   5142440050688   3668.300049                       27